# Netbeans private folder
nbproject/private/
nbproject/Makefile-Debug.mk
nbproject/Makefile-Release.mk
build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Builded files
dist/Debug/